<%= form_for @song do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
<%#  %>
<form action=" " method="patch">
  <input type="text" name=" " value=" "/>
  <input type="submit" value="Update song"/>
</form>
